#
# Copyright (c) <<[0-9, \-]*201[234]>>'Invalid copyright pattern!', fortiss GmbH.
# Licensed under the Apache License, Version 2.0.
#
# Use, modification and distribution are subject to the terms specified
# in the accompanying license file LICENSE.txt located at the root directory
# of this software distribution. A copy is available at
# http://chromosome.fortiss.org/.
#
# This file is part of CHROMOSOME.
#
# $Id<<[^$]*>>'Invalid RCS file Id!'$
#
# File:
<<^(?:#         [^\n]+\n)+#>>'Missing file description!'
<<.*\n$>>'No newline at end of file!'
