<?xml version="1.0"?>
<launch>

  <!-- send parameters to parameter server -->
  <rosparam command="load" ns="dirt_detection/dirt_detection" file="$(find autopnp_dirt_detection)/ros/launch/dirt_detection_standalone.yaml"/>


  <!--  -->
  <node pkg="autopnp_dirt_detection" ns="dirt_detection" type="dirt_detection" name="dirt_detection" output="screen">	<!-- ns=namespace (arbitrary), type=name of executable, name=node name (arbitrary) -->
	<!--launch-prefix="/usr/bin/gdb"-->
	<!--remap from="image_color" to="/camera/rgb/image"/-->
	<remap from="colored_point_cloud" to="/cam3d/depth_registered/points"/>
	<remap from="image_color" to="/cam3d/rgb/image_raw"/>
	<!--remap from="colored_point_cloud" to="/cam3d/depth_registered/points"/-->
	<!--remap from="colored_point_cloud" to="/cam3d/rgb/points"/-->
	<!--remap from="colored_point_cloud" to="/camera/rgb/points"/-->
	<!--remap from="colored_point_cloud" to="/cam3d/rgb/points"/-->
	
	<!-- if not an empty string, this enables using a mask that defines areas in the map where dirt detections are valid (i.e. this mask can be used to exclude areas from dirt mapping, white=detection area, black=do not detect) -->
	<!-- param name="dirtMappingMaskFilename" value="$(find autopnp_dirt_detection)/common/files/map_masks/" /-->
	
  </node>

</launch>
