<?xml version="1.0"?>
<launch>

	<!-- start map server -->
	<arg name="map" value="$(find autopnp_scenario)/config/map-ipa-apartment.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

	<!-- start camera driver -->
	<include file="$(find openni2_launch)/launch/openni2.launch">
		<arg name="camera" value="cam3d" />
		<arg name="depth_registration" value="true" />
	</include>
	<param name="/cam3d/driver/z_scaling" value="1.07" />

	<!-- start fiducial marker detection -->
	<include file="$(find autopnp_scenario)/ros/launch/fiducials/fiducials.launch"/>

	<!-- start dynamic camera to table/arm calibration -->
	<include file="$(find hermes_camera_calibration)/ros/launch/camera_calibration.launch" />
	<param name="/camera_calibration/camera_calibration/update_rate" value="0.01" />

	<!-- link camera to map coordinate system -->
	<node pkg="tf" type="static_transform_publisher" name="link_map2marker_robot_broadcaster" args="0 0 0 3.14159265359 0 0 map marker_robot 100" />

	<!-- connect map with robot base coordinate system -->
	<node pkg="tf" type="static_transform_publisher" name="link_map2base_link_broadcaster" args="0 0 0 0 0 0 map base_link 100" />

	<!-- start cob_phidgets for commanding the tool changer -->
	<include file="$(find cob_phidgets)/ros/launch/phidgets_toolchanger.launch"/>

	<!-- start vacuum cleaner on/off control driver -->
	<!--include file="$(find autopnp_scenario)/ros/launch/vacuum_cleaner_solo.launch"/-->
	<include file="$(find autopnp_can_attachments)/ros/launch/vacuum_cleaner_solo.launch"/>
	
	<!-- start SDH driver -->
	<include file="$(find schunk_bringup)/components/sdh.launch"/>
	
	<!-- start toolchanger pnp detection -->
	<!--node ns="toolchanger_pnp_manager" name="toolchanger_pnp_manager" pkg="autopnp_can_attachments" type="toolchange_pnp_manager"  output="screen"/-->
	<include file="$(find autopnp_can_attachments)/ros/launch/toolchange_pnp_manager.launch"/>

	<!-- start arm driver -->
	<include file="$(find schunk_bringup)/components/lwa4d_solo.launch"/>

	<!-- start trash bin detection -->
	<!--include file="$(find autopnp_scenario)/ros/launch/trash_bin_detection_service_server.launch"/-->

	<!-- start dirt detection -->
	<include file="$(find autopnp_scenario)/ros/launch/dirt_detection/dirt_detection.launch" />

</launch>
