<launch>

  <include file="$(find autopnp_scenario)/ros/launch/map_segmentation_action_server.launch"/>

  <node name="Find_Next_Room" pkg="autopnp_scenario" type="next_room_server" output="screen" />

  <node name="go_to_location" pkg="autopnp_scenario" type="to_location_server" output="screen" />

  <node name="Find_Random_Location" pkg="autopnp_scenario" type="random_location_server" output="screen" />

  <node name="Inspect_Room" pkg="autopnp_scenario" type="inspect_room_server" output="screen" />
  
  <include file="$(find cob_map_accessibility_analysis)/ros/launch/map_accessibility_analysis.launch"/>

</launch>
