<?xml version="1.0"?>
<launch>

  <!-- args -->
  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
  <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
  <!--arg name="robot" value="cob3-2"/-->
  <arg name="pc1" default="cob3-2-pc1"/> <!--$(arg robot)-->
  <arg name="pc2" default="cob3-2-pc2"/>
  <arg name="pc3" default="cob3-2-pc3"/>
  <arg name="simulation" default="false"/>
  
  <group>
    <!--machine name="pc3" address="$(arg pc3)" default="true" unless="$(arg simulation)"/-->
    <machine name="pc3" address="$(arg pc3)" env-loader="$(find autopnp_scenario)/ros/launch/env.sh" default="true" unless="$(arg simulation)"/>
    
    <!-- start navigation -->
    <!--- Run map_server -->
    <!--arg name="map" default="$(find cob_default_env_config)/$(arg robot_env)/map.yaml" /-->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find autopnp_scenario)/config/map-ipa-apartment-small.yaml"/>

	<!--- Run AMCL -->
	<include file="$(find cob_navigation_global)/launch/amcl_node.xml" />
	
	<!--- Run move base -->
	<include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.xml" >
		<arg name="robot" value="$(arg robot)"/>
	</include>
    
	<!-- start linear navigation -->
	<include file="$(find cob_navigation_global)/launch/2dnav_linear.xml" >
      <arg name="robot" value="$(arg robot)"/>
    </include>
  
  </group>

</launch>
